@import "reset.css";
body{
    background-color: #038e81;

}
.userConteiner{
    left: 50%;
    margin-left: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:50%;
    margin-top: -110px;

}
.userCard {
    background-color: aliceblue;
    width: 500px;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.48);
}
.topAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    background-color: transparent;
    position: relative;
    z-index: 2;

}
.avatarConteiner{
border-radius: 50%;
    overflow: hidden;
    display: flex;


}
.backg{
    background-color: #5e9ea0;
    position: absolute;
    top:-38px;
    left: -60px;
    width: 180px;
    height: 300px;
    z-index: 0;
    transform: rotate(-35deg);

}
.avatarConteiner >img{
    width: 140px;
    height: 140px;
    object-fit: cover;
}
.infoConteiner{
    flex-basis: 250px;
    margin-left: 25px;
    flex-grow: 1;
    font-family: sans-serif;
}
h2{

    font-size: 25px;
    margin-bottom: 0px;
}
h5{
    font-style: italic;
    color:#25a599 ;
}
p{
    margin-top: 10px;
    color: #818282;
}
.linkConteiner{
    margin-top: -3px;
    box-sizing: border-box;
    padding: 5px;
    width: 450px;
    background-color: aliceblue;
    border-radius: 3px;
    box-shadow: 0px 5px 21px -8px rgba(0,0,0,0.54);

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    padding: 5px;
}
